<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<listeners>	
		<listener class-name="com.aia.join.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="AIA JOIN App Test Cases">
		<classes>
			<!-- <class name="com.aia.join.qa.testcases.LoginPageTest"></class>
			<class name="com.aia.join.qa.testcases.PersonalAndContactInformationPageTest"></class>-->
			<class name="com.aia.join.qa.testcases.SelectmemberTypePageTest"></class>
		</classes>
	</test>
</suite>